kedro~=0.19.8
kedro-boot[fastapi]
kedro-datasets>=3.0; python_version >= "3.9"
kedro-datasets>=1.0; python_version < "3.9"
medmnist
mlflow
pytorch-ood
torchcp==0.1.3
captum
imblearn
kedro-viz
python-multipart